@inherits LayoutComponentBase

<div class="page">
    <main>
        <Layout>
            <LayoutHeader>
                <Bar Class="app-header"
                     Breakpoint="Breakpoint.Desktop"
                     Mode="BarMode.Horizontal"
                     Background="Background.Primary">
                    <Button Clicked="ChangeSideBarVisibility"
                            Outline="false">
                        <Icon Name="GetIconForSideBarToggler()" />
                    </Button>
                    <BarBrand>
                        <BarItem>
                            <BarLink To="/">
                                Школа математики
                            </BarLink>
                        </BarItem>
                    </BarBrand>
                    <BarMenu>
                        <BarEnd>
                            <BarItem>
                                <Button Color="Color.Primary" Type="ButtonType.Link" To="/login">Войти</Button>
                            </BarItem>
                        </BarEnd>
                    </BarMenu>
                </Bar>
            </LayoutHeader>
            <Layout Sider>
                <LayoutSider>
                    <LayoutSiderContent>
                        <Bar Class="main-sidebar"
                             Mode="BarMode.VerticalInline"
                             Shadow="Shadow.Default"
                             Breakpoint="Breakpoint.None"
                             NavigationBreakpoint="Breakpoint.Tablet"
                             Background="Background.Secondary"
                             ThemeContrast="ThemeContrast.Light"
                             Visible="_isSideBarVisible">
                            <SiderContent />
                        </Bar>
                    </LayoutSiderContent>
                </LayoutSider>
                <Layout>
                    <LayoutContent>
                        @Body
                    </LayoutContent>
                </Layout>
            </Layout>
        </Layout>
    </main>
</div>

@code {
    private bool _isSideBarVisible = true;

    private void ChangeSideBarVisibility()
    {
        _isSideBarVisible = !_isSideBarVisible;
    }

    private IconName GetIconForSideBarToggler()
    {
        return _isSideBarVisible ? IconName.AngleLeft : IconName.Bars;
    }

    protected override void OnInitialized()
    {
        
    }
}
