@inherits LayoutComponentBase

<div class="page">
    <main>
        <Layout>
            <LayoutHeader>
                <Bar Breakpoint="Breakpoint.Desktop"
                     Mode="BarMode.Horizontal"
                     Background="Background.Light"
                     ThemeContrast="ThemeContrast.Light">
                    <Button Clicked="ChangeSideBarVisibility"
                            Outline="false">
                        <Icon Name="GetIconForSideBarToggler()" />
                    </Button>
                    <BarBrand>
                        <BarItem>
                            <BarLink To="/">
                                Школа математики
                            </BarLink>
                        </BarItem>
                    </BarBrand>
                    <BarMenu>
                        <BarEnd>
                            <BarItem>
                                <Button Color="Color.Primary" Type="ButtonType.Link" To="/auth">Войти</Button>
                            </BarItem>
                        </BarEnd>
                    </BarMenu>
                </Bar>
            </LayoutHeader>
            <Layout Sider>
                <LayoutSider>
                    <LayoutSiderContent>
                        <Bar @ref="_sideBar"
                             Mode="BarMode.VerticalInline"
                             Shadow="Shadow.Default"
                             CollapseMode="BarCollapseMode.Hide"
                             Breakpoint="Breakpoint.Desktop"
                             NavigationBreakpoint="Breakpoint.Tablet"
                             ThemeContrast="ThemeContrast.Light"
                             Visible="_isSideBarVisible">
                            <BarMenu>
                                <BarItem>
                                    <BarIcon IconName="IconName.UserCircle" />
                                    Личный кабинет
                                </BarItem>
                            </BarMenu>
                        </Bar>
                    </LayoutSiderContent>
                </LayoutSider>
                <Layout>
                    <LayoutContent>
                        @Body
                    </LayoutContent>
                </Layout>
            </Layout>
        </Layout>
    </main>
</div>

@code {
    private Bar _sideBar = new();
    private bool _isSideBarVisible = true;

    private void ChangeSideBarVisibility()
    {
        _isSideBarVisible = !_isSideBarVisible;
    }

    private IconName GetIconForSideBarToggler()
    {
        return _isSideBarVisible ? IconName.AngleLeft : IconName.Bars;
    }
}