@page "/auth"

<Div Margin="Margin.IsAuto.OnX" Width="Width.Is50">
    <Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom" TextAlignment="TextAlignment.Center">
        Войти
    </Heading>

    <Card Shadow="Shadow.Default">
        <CardBody>
            <Form>
                <Field>
                    <FieldLabel>
                        Имя пользователя
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit Placeholder="Ваше имя пользователя" Role="TextRole.Email" />
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>
                        Пароль
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit Placeholder="Ваш пароль" Role="TextRole.Password" autocomplete="new-password" />
                    </FieldBody>
                </Field>
                <Field Flex="Flex.Wrap.JustifyContent.Between">
                    <Check TValue="bool">
                        Запомнить
                    </Check>
                </Field>
                <Field>
                    <Button Color="Color.Primary" Block>
                        Войти
                    </Button>
                </Field>
            </Form>
        </CardBody>
    </Card>
</Div>

@code {

}