@page "/cabinet"

@using BlazorClient.Dto
@using BlazorClient.Dto.User
@using BlazorClient.Services
@using System.Text.Json

@inject UserService UserService
@inject HttpClient HttpClient
@inject IConfiguration Configuration

<h3>@_currentUser.Id</h3>
<h3>@_currentUser.Login</h3>

@code {
    private UserDto _currentUser = new();

    protected override async Task OnInitializedAsync()
    {
        
    }
}
