@page "/"

<Div Class="container-with-centered-content">
    <Carousel ShowControls="false"
              Width="Width.Is100"
              Interval="3000">
        @foreach (var imageUrl in _imageUrls)
        {
            <CarouselSlide Name="@imageUrl" Width="Width.Is100">
                <Image Source="@imageUrl" Class="background-image" Display="Display.Block" Width="Width.Is100" />
            </CarouselSlide>
        }
    </Carousel>
    <Div Class="main-page-caption"
         Position="Position.Absolute"
         Style="z-index: 100">
        <Text TextColor="TextColor.Light"
              TextSize="TextSize.Heading1">
            Школа математики
        </Text>
        <Text TextColor="TextColor.Light">
            Ну что за школа без прикола :) 
        </Text>
    </Div>
</Div>

@code {
    private List<string> _imageUrls = [];
    private string _selectedSlide = string.Empty;

    protected override void OnInitialized()
    {
        for (int i = 1; i <= 8; i++)
        {
            var imageUrl = string.Concat("mainPageImages/", i, ".jpg");
            _imageUrls.Add(imageUrl);
            Console.WriteLine(_imageUrls[i - 1]);
        }
        Console.WriteLine(_imageUrls.Count);
        _selectedSlide = _imageUrls.First();
    }
}